<nav class="navbar navbar-expand-lg navbar-light" style="background: #f3eddd">
  <a class="navbar-brand" href="#">STUDENT NEEDS</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link linky" routerLink="/customer/main/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link linky1" routerLink="/sign-up" style="color: #1775a3"
          >SIGN<span> UP</span></a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="small">
  <div class="container">
    <div class="row" style="background: #f3eddd">
      <div class="col-6">
        <p class="navbar-brand">STUDENT NEEDS</p>
      </div>
      <div class="col-3">
        <p routerLink="/customer/main/" class="ok">Home</p>
      </div>
      <div class="col-3">
        <p routerLink="/sign-up" class="ok1">Sign Up</p>
      </div>
    </div>
  </div>
</div>

<div class="container" style="width: 100%">
  <div class="signup">
    <p style="color: #f3eddd">.</p>
    <h6 class="h6one">LOG IN</h6>
    <p class="pone">Log into your account</p>
    <form class="formy" [formGroup]="form" (ngSubmit)="onLogin()">
      <label for="email">Email</label>
      <br />
      <input class="input2" type="email" formControlName="email" />
      <br />
      <label for="password">Password</label>
      <br />
      <input class="input3" [type]="fieldTextType ? 'text' : 'password'" formControlName="Password" />
      <i
        class="fa"
        [ngClass]="{
          'fa-eye-slash': fieldTextType,
          'fa-eye': !fieldTextType
        }"
        (click)="toggleFieldTextType()"
        aria-hidden="true"
      ></i>
      <button type="submit" class="btn1">LOG IN</button>
    </form>
    <p class="forgot">Forgot Password?</p>
    <p class="ptwo">
      Don't have a profile?<span class="one" style="color: #1775a3">
        Sign up</span
      >
    </p>
  </div>
</div>
