<section class="four mt-5" style="background: #D9DCF8;">
    <div class="row rowfour" style="width:100%;background: #D9DCF8;width:100%;">
      <div class="col-3">
        <img src="assets/about/shoe.png" class="img5">
      </div>
      <div class="col-6">
      <h4 class="h4one">Get 10% Discount on First Order</h4>
      <button class="btn4" routerLink="/customer/main/">SHOP NOW</button>
      </div>
      <div class="col-3">
        <img src="assets/about/shirt.png" class="img6">
      </div>
    </div>
  </section>
  
  <section class="smallfour" style="background: #D9DCF8;">
    <div class="row smallrowfour" style="width:100%;background: #D9DCF8;">
      <div class="col-3">
        <img src="assets/about/shoe1.png" class="img10">
      </div>
      <div class="col-6">
      <h4 class="h4two">Get 10% Discount on First Order</h4>
      <button class="btn8" routerLink="/customer/main/" >SHOP NOW</button>
      </div>
      <div class="col-3">
        <img src="assets/about/shirt(1).png" class="img11">
      </div>
    </div>
  </section>

  <section id="one" style="width:100%;">
    <div class="container">
      <h6 class="about">ABOUT US</h6>
      <img src="assets/about/Rectangle 52.png" class="img12">
    </div>
  </section>

   <section id="two" style="width:100%;">
     <div class="container">
       <h5 class="founded">Founded With A Mission</h5>
       <h6 class="mission">Our mission is to supply your needs with convenient. We offer a wide range of variety and high-quality products at affordable prices. </h6>
     </div>
   </section>


   <section id="three"  style="width:100%;">
    <div class="container">
     <h6 class="meet">Meet Our Team</h6>
     <div class="container">
     <div class="row" style="margin-top:70;width:100%;">
       <div class="col-4">
         <img src="assets/about/Rectangle 13.png" class="img13">
         <h6 class="name">Jane Ojo</h6>
         <h6 class="role">Manager</h6>
       </div>
       <div class="col-4">
        <img src="assets/about/Rectangle 17.png" class="img13">
        <h6 class="name">Fred Akinlabi</h6>
         <h6 class="role">Sales Expert</h6>
      </div>
      <div class="col-4">
        <img src="assets/about/Rectangle 18.png" class="img13">
        <h6 class="name">Timi Popoola</h6>
         <h6 class="role">Customer Support</h6>
      </div>
     </div>
    </div>
      </div>
      </section>

      <section id="four" style="width:100%;">
        <div class="container">
          <h6 class="check">Check Out Our Products</h6>
          <button class="btn9" routerLink="/customer/main/">SHOP NOW</button>
        </div>
      </section>



