
    
    .smallfour{
        display:none;
    }

    .smallfour{
        display:none;
    }

    
    .smallfive{
        display:none;
    }

    #second{
        display:none;
    }

    .img1{
        width: 380px;
        height: 367px;
        border-radius: 4px;
        margin-top:86;
    }


    .jimmy{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
         margin-top:86;
        color: #333333;
    }

   .high{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #333333;
    margin-top: 24;
   }

   .money{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #333333;
    margin-top: 18;
   }

   .designed{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #333333;
    margin-top: 19;
    width:50%;
   }

   input{
       margin-top:25;
       padding:3px 30px;
       border: 1px solid #CCD0FC;
box-sizing: border-box;
border-radius: 4px;
   }


.quantity{
    margin-top: 15;
    font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #333333;
}

.btn1{
    outline:0;
    border:none;
    padding:5px 105px;
    color:white;
    background-color:#1775A3;
    border-radius: 3px;
    font-family: Lato;
 font-style: normal;
 font-weight: bold;
 margin-top: 46;
}

.reviews{
    margin-top: 158;
    font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 22px;
color: #333333;
}

#third{
    display:block;
}

#smallthird{
    display:none;
}

.similar{
    margin-top: 170;
    font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 22px;
color: #333333;

}

.bigrow{
    margin-top:30;
}

.img12{
    width: 95%;
    height: 249px;
    border-radius: 4px;
   }

    .h6two{
        text-align:center ;
        font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #333333;
    margin-top:27px;
    }
    
    .h6three{
        text-align: center;
        font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #333333;
    }
    
    .btn3{
       margin-top:10%;
       outline:0;
       border:none;
       padding:2px 109px;
       color:white;
       background-color:#1775A3;
       border-radius: 3px;
       font-family: Lato;
    font-style: normal;
    font-weight: bold;
    }

   

@media (max-width: 576px) {
  
    .secondone{
        margin-left:70%;
    font-family: Lato;
font-style: normal; .addy{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        color: #333333;
    }


    .addyy{
        margin-left:-69%;
    }
font-weight: 600;
font-size: 15px;
color: #333333;
    }

    .four{
        display:none;
    }
    
    .smallfour{
        display:block;
    }
    
  #first{
      display:none;
  }

  #second{
      display:block;
  }

  .img13{
      width:50%;
      height:50%;
  }

  .img12{
    width: 126%;
    height: 129px;
    border-radius: 4px;
   }

    .h6two{
        text-align:center ;
        font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin-left:5%;
    color: #333333;
    margin-top:27px;
    }
    
    .h6three{
        text-align: center;
        font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    margin-left:5%;
    color: #333333;
    }
    
    .btn3{
       margin-top:10%;
       outline:0;
       border:none;
       padding:2px 23px;
       font-size:8px;
       color:white;
       background-color:#1775A3;
       border-radius: 3px;
       font-family: Lato;
    font-style: normal;
    font-weight: bold;
    margin-left:3%;
    }

    

    .jimmy{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
         margin-top:16;
        color: #333333;
        margin-left:7%;
    }

   .high{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    color: #333333;
    margin-top: 4;
    margin-left:7%;
   }

   .money{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    color: #333333;
    margin-top: 10;
    margin-left:7%;
   }

   .designed{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #333333;
    margin-top: 9;
    width:90%;
    margin-left:7%;
   }

   input{
       margin-top:12;
       padding:3px 35px;
       border: 1px solid #CCD0FC;
box-sizing: border-box;
border-radius: 4px;
margin-left:7%;
   }


.quantity{
    margin-top: 15;
    font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 20px;
color: #333333;
margin-left:7%;
}

.btn1{
    outline:0;
    border:none;
    padding:5px 105px;
    color:white;
    background-color:#1775A3;
    border-radius: 3px;
    font-family: Lato;
 font-style: normal;
 font-weight: bold;
 margin-top: 46;
}

.reviews{
    margin-top: 58;
    font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 22px;
color: #333333;
}

.img1{
    margin-top:1%;
    width:100%;
    height:50%;
}
   
.img13{
    width:50%;
    height:50%;
}

#third{
    display:none;
}

#smallthird{
    display:block;
}

.reviewimg{
    margin-top:6%;
    width:70%;
}

.reviews{
    margin-top:4%;
}

.similar{
    margin-top:5%;
}

.img14{
    margin-left:7%;
    width:20%;
    margin-top:2%;
}
.addy{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #333333;
}


.addyy{
    margin-left:-72%;
}

.addyy,.addyy1{
    width:30;
}

}

@media (max-width: 802px) {

    .secondone{
     margin-left:77%;
     font-family: Lato;
     font-style: normal;
     font-weight: 600;
     font-size: 15px;
     color: #333333;
    }

    .five{
        display: none;
    }
    
    .smallfive{
        display:block;
    }
    
    .psix{
        font-family: Pacifico;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #333333;
    }
    
    .pseven{
        font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: #333333;
    margin-top:8%;
    }
    
    .peight{
        font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #333333;
    }
    
    .pnine{
        font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: #333333;
    }
    
    .pten{
        font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #333333;
    }
}