/*   Side Nav */
.small{
    display:none;
}

.another{
    margin-top:150%;
}


.stu{
    margin-top:64;
    color:#F3EDDD;
}

.student{
    font-family: Pacifico;
font-style: normal;
font-weight: normal;
font-size: 20px;
color: #333333;
margin-left:10%;
}

.firstIcon{
margin-left:40%;

}

.dashboard{
    font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 17px;
color: #333333;
}


.secondIcon{
    margin-left:40%;
    
    }
    
    .dashboard1{
        font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #1775A3;
    }

    .Products{
        font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 30px;
color: #333333;
margin-top: 73;
    }


.viewitem{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #1775A3;
    margin-top:68;
    margin-left:90%;

}

.biggy{
    padding-left: 5%;
}

.namey{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 24px;
color: #333333;
padding-top:3%;
}

.btn1{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
     outline:0;
     border:none;
     padding:5px;
     width:100%;
    color: #1775A3;
    background: #CCD0FC;
border-radius: 4px;
margin-top:5%;
}

.btn2{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
     outline:0;
     border:none;
     padding:5px;
     width:100%;
     color: #DB4343;
    background: #CCD0FC;
border-radius: 4px;
margin-top:5%;
}


    @media (max-width: 576px) {
/*   Side Nav */
/*   Side Nav */
.big{
    display:none;
}

.small{
    display:block;
}

.stu{
    margin-top:24;
    color:#F3EDDD;
}

.student{
    font-family: Pacifico;
font-style: normal;
font-weight: normal;
font-size: 14px;
color: #333333;
margin-left:10%;
}

.firstIcon{
margin-left:40%;
width:20;
}

.dashboard{
    font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 13px;
color: #333333;
}


.secondIcon{
    margin-left:40%;
    width:20;
    }
    
    .dashboard1{
        font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #1775A3;
    }

  

.another1{
    margin-top:420%;
}

.Products{
    font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 20px;
color: #333333;
margin-top: 14;
}


.viewitem{
font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 10px;
color: #1775A3;
margin-top:8;
margin-left:75%;

}

.smallbiggy{
padding-left: 5%;
width:25;
}

.smallnamey{
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 10px;
color: #333333;
padding-top:3%;
}

.smallbtn1{
font-family: Lato;
font-style: normal;
font-weight: bold;

 outline:0;
 border:none;
 padding:5px;

color: #1775A3;
background: #CCD0FC;
border-radius: 4px;
margin-top:5%;
font-size: 8px;
}

.smallbtn2{
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 8px;
 outline:0;
 border:none;
 padding:5px;

 color: #DB4343;
background: #CCD0FC;
border-radius: 4px;
margin-top:5%;
}




    }

  


    @media (max-width: 1440px) {

    
        .another{
            margin-top:200%;
        }


    }