<div class="big">
    <div class="container">
        <div class="row" style="width:100%;margin-top:70;">
            <div class="col-4">
                <h6 class="Products">Products</h6>
            </div>
            <div class="col-4">

            </div>
            <div class="col-4">
                <button class="addproducts" data-toggle="modal" data-target="#exampleModalCenter">ADD PRODUCT</button>

                <!-- Button trigger modal -->

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="pic"(click)="filePicker.click()" >
                                    <img *ngIf="!imagePreview" src="assets/images/mdi_camera_alt.png" class="camera">
                                    <img *ngIf="imagePreview" [src]="imagePreview" height="160" width="160" alt="">
                                    <input type="file" #filePicker (change)="onImagePicked($event)">
                                </div>
                                <form #productForm="ngForm" (ngSubmit)="productForm.form.valid && addProduct(productForm)" style="margin-top:6%;">
                                    <label class="productname">Product Name</label>
                                    <br />
                                    <input name="productName" ngModel required class="input1" type="text">
                                    <br />
                                    <label class="productname">Size</label>
                                    <br />
                                    <input name="size" ngModel  class="input1" type="text">
                                    <br />
                                    <label class="productname">Description</label>
                                    <br />
                                    <input name="description" ngModel class="input1" type="text">
                                    <label class="productname" type="text">Price</label>
                                    <br />
                                    <input class="input1" name="price" ngModel required>
                                    <label class="productname" type="text">Quantity</label>
                                    <br />
                                    <input class="input1" name="quantities" ngModel required>
                                    <label class="productname" type="text">Category</label>
                                    <br />
                                    <select class="input1" ngModel required name="category" id="">
                                        <option value="" disabled selected>Select a category</option>
                                        <option *ngFor="let cat of categories" [value]="cat?._id">{{cat?.name}}</option>
                                    </select>
                                    <button type="submit" class="lastadd">ADD PRODUCT</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="viewitem">View All</div>
        <div class="ano" *ngFor="let product of products; let i = index;">
            <div class="row" style="margin-top:11;">

                <div class="col-2">
                    <img [src]="product?.mainImage" height="30" class="imgpic">
                </div>
                <div class="col-4">
                    <p class="anokia">{{product?.name}}</p>
                </div>
                <div class="col-2">
                    <p class="anoprice">{{product?.price}}</p>
                </div>
                <div class="col-2">

                </div>
                <div class="col-1">
                    <img data-toggle="modal" [attr.data-target]="'#editModal'+i" src="assets/images/Vector (2).png" class="imgpic1">
                </div>
                <div class="col-1">
                    <img data-toggle="modal" data-target="#DeleteModal" src="assets/images/Vector (3).png" class="imgpic1">
                </div>
            </div>
             <!-- Edit Modal -->
             <div class="modal fade" [id]="'editModal'+i" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered" role="document">
                 <div class="modal-content">
                     <div class="modal-body">
                         <div class="pic"(click)="filePicker.click()" >
                             <img *ngIf="!product?.mainImage" src="assets/images/mdi_camera_alt.png" class="camera">
                             <img *ngIf="product?.mainImage" [src]="editPreview[i] || product?.mainImage" height="160" width="160" alt="">
                             <input type="file" #filePicker (change)="onImagePickedEdit($event, i)">
                         </div>
                         <form #EditProductForm="ngForm" (ngSubmit)="EditProductForm.form.valid && editProduct(product?.slug,EditProductForm,i)" style="margin-top:6%;">
                             <label class="productname">Product Name</label>
                             <br />
                             <input  #name="ngModel" [(ngModel)]="product.name" required class="input1" type="text" name="name">
                             <br />
                             <label class="productname">Size</label>
                             <br />
                             <input  #size="ngModel" [(ngModel)]="product.size"  class="input1" type="text" name="size">
                             <br />
                             <label class="productname">Description</label>
                             <br />
                             <input  #description="ngModel" [(ngModel)]="product.description" class="input1" type="text" name="description">
                             <label class="productname" type="text">Price</label>
                             <br />
                             <input class="input1"  #price="ngModel" [(ngModel)]="product.price" required name="price">
                             <label class="productname" type="text">Quantity</label>
                             <br />
                             <input class="input1"  #quantities="ngModel" [(ngModel)]="product.quantities" required name="price">
                             <label class="productname" type="text">Category</label>
                             <br />
                             <select class="input1" #category="ngModel"[(ngModel)]="product.category._id" required name="category">
                                 <!-- <option value="" disabled selected>Select a category</option> -->
                                 <option *ngFor="let cat of categories" [value]="cat._id">{{cat.name}}</option>
                             </select>
                             <button type="submit" class="lastadd">EDIT PRODUCT</button>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
         <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p style="font-weight: bold; font-size: 25px;" class=" mt-5 text-center">Are you Sure you want to
                                DELETE</p>
                            <div class="d-flex justify-content-center mb-5">
                                <button data-dismiss="modal" type="button" class="btn btn-success mx-1">CANCEL</button>
                                <button type="button" class="btn btn-danger mx-1">DELETE</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="float-right my-5 mr-3">
            <button type="button" [disabled]="!this.prev" class="btn btn-danger m-1" (click)="onPrev()">Prev</button>
            <button type="button"[disabled]="!this.next" class="btn btn-success" (click)="onNext()">Next</button>

        </div>












    </div>

</div>

<div class="small">
    <div class="container">
        <div class="row" style="width:100%;margin-top:70;">
            <div class="col-6">
                <h6 class="Products">Products</h6>
            </div>

            <div class="col-6">
                <button class="smalladdproducts" data-toggle="modal" data-target="#smallexampleModalCenter">ADD
                    PRODUCT</button>
            </div>
            <div class="modal fade" id="smallexampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="pic">
                                <img src="assets/images/mdi_camera_alt.png" class="camera">
                            </div>
                            <form style="margin-top:6%;">
                                <label class="productname">Product Name</label>
                                <br />
                                <input class="input1" type="text">

                                <br />
                                <label class="productname" type="text">Price</label>
                                <br />
                                <input class="input1">
                            </form>
                            <button class="lastadd">ADD PRODUCT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="smallviewitem">View All</div>
        <div class="ano">
            <div class="row" style="margin-top:11;">

                <div class="col-2">
                    <img src="assets/images/Rectangle 94.png" class="imgpic">
                </div>
                <div class="col-3">
                    <p class="smallanokia">Kai Body Lotion</p>
                </div>
                <div class="col-3">
                    <p class="smallanoprice">N6,000</p>
                </div>

                <div class="col-2">
                    <img src="assets/images/Vector (2).png" class="imgpic1">
                </div>
                <div class="col-2">
                    <img src="assets/images/Vector (3).png" class="imgpic1">
                </div>
            </div>
        </div>

        <div class="ano">
            <div class="row" style="margin-top:22;">

                <div class="col-2">
                    <img src="assets/images/Rectangle 95.png" class="imgpic">
                </div>
                <div class="col-3">
                    <p class="smallanokia">Blue Flats</p>
                </div>
                <div class="col-3">
                    <p class="smallanoprice">N4,000</p>
                </div>

                <div class="col-2">
                    <img src="assets/images/Vector (2).png" class="imgpic1">
                </div>
                <div class="col-2">
                    <img src="assets/images/Vector (3).png" class="imgpic1">
                </div>
            </div>
        </div>

        <div class="ano">
            <div class="row" style="margin-top:22;">

                <div class="col-2">
                    <img src="assets/images/Rectangle 96.png" class="imgpic">
                </div>
                <div class="col-3">
                    <p class="smallanokia">OXFORD</p>
                </div>
                <div class="col-3">
                    <p class="smallanoprice">N8,000</p>
                </div>

                <div class="col-2">
                    <img src="assets/images/Vector (2).png" class="imgpic1">
                </div>
                <div class="col-2">
                    <img src="assets/images/Vector (3).png" class="imgpic1">
                </div>
            </div>






        </div>

        <div class="ano">
            <div class="row" style="margin-top:22;">

                <div class="col-2">
                    <img src="assets/images/Rectangle 97.png" class="imgpic">
                </div>
                <div class="col-3">
                    <p class="smallanokia">Victoria Secret</p>
                </div>
                <div class="col-3">
                    <p class="smallanoprice">N7,000</p>
                </div>

                <div class="col-2">
                    <img src="assets/images/Vector (2).png" class="imgpic1">
                </div>
                <div class="col-2">
                    <img src="assets/images/Vector (3).png" class="imgpic1">
                </div>
            </div>
        </div>


        <div class="ano">
            <div class="row" style="margin-top:22;">

                <div class="col-2">
                    <img src="assets/images/Rectangle 98.png" class="imgpic">
                </div>
                <div class="col-3">
                    <p class="smallanokia">Dove Body Lotion</p>
                </div>
                <div class="col-3">
                    <p class="smallanoprice">N2,000</p>
                </div>

                <div class="col-2">
                    <img src="assets/images/Vector (2).png" class="imgpic1">
                </div>
                <div class="col-2">
                    <img src="assets/images/Vector (3).png" class="imgpic1">
                </div>
            </div>
        </div>

        <div class="ano">
            <div class="row" style="margin-top:22;">

                <div class="col-2">
                    <img src="assets/images/Rectangle 68.png" class="imgpic3">
                </div>
                <div class="col-3">
                    <p class="smallanokia">Yellow Flats</p>
                </div>
                <div class="col-3">
                    <p class="smallanoprice">N7,000</p>
                </div>

                <div class="col-2">
                    <img src="assets/images/Vector (2).png" class="imgpic1">
                </div>
                <div class="col-2">
                    <img src="assets/images/Vector (3).png" class="imgpic1">
                </div>
            </div>
        </div>












    </div>

</div>
